# Virtual environment folder
Scraping-Domains/venv

# Data files
Scraping-Domains/*.docx
Scraping-Domains/companies.csv
Scraping-Domains/domains.csv
Scraping-Domains/Results.csv
Scraping-Domains/domains_batched
Scraping-Domains/output_batched/output_batched_2.csv
Scraping-Domains/output_batched/output_batched_3.csv
Scraping-Domains/output_batched/output_batched_4.csv
Scraping-Domains/output_batched/output_batched_5.csv
Scraping-Domains/output_batched/output_batched_6.csv
Scraping-Domains/output_batched/output_batched_7.csv
Scraping-Domains/output_batched/output_batched_8.csv
Scraping-Domains/output_batched/output_batched_9.csv
Scraping-Domains/output_batched/output_batched_10.csv



